* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.AHome {
    color: #F25822;
}

html {
    width: 1920px;
    height: 943px;
    flex-shrink: 0;
}

body {
    display: block;
    background-color: #FFF;
}

header {
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__nav_menu {
    width: 533px;
    height: 17px;
    flex-shrink: 0;
    margin: 51px 643px 0 1012px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
    height: 17px;
}

.main {
    padding: 100px 1025px 405px 373px;
}

.conteiner {
    margin-right: calc(50% - 960px);
}

.Brand_logo {
    display: flex;
    gap: 20px;

}

.text {
    padding: 10px 0;
}

h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.growbe {
    margin: 0px 0px 89px 400px;
    justify-content: left;
    position: relative;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.be {
    position: relative;
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orange {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.white {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border-color: #FFF;
    background: #FFF;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
